frontend
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
.venv
node_modules
frontend/node_modules
*.sqlite3
.pytest_cache
.git
.gitignore
__pycache__/
venv/
*.log
coverage/
pip-wheel-metadata/
.mypy_cache
