.idea/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
env/
ENV/
.venv/
.env/
.ipynb_checkpoints/
*.spec
.mypy_cache/
htmlcov/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
test-results/
*.log
*.pot
*.mo
*.db
*.sqlite3
*.swp
.DS_Store
Thumbs.db
.env
.env.*
*.pid
*.pid.*
*.tar
docker-compose.override.yml
Dockerfile.*
alembic.ini
migrations/
__pydantic_cache__/
