# This file does not contain any information about versions of packages.
# Ideally, you would use a pyproject.toml file along with a lock file (poetry.lock or uv.lock).
# Passlib got its last update in 2020; be aware of potential vulnerabilities.
# Psycopg 3 is the evolution of psycopg2 and is recommended for new projects.
# No need to use python-dotenv if you also use pydantic-settings.
fastapi
uvicorn
sqlalchemy
passlib
python-jose
psycopg[binary]
bcrypt
pydantic-settings